body{
    background-color: #092328;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 1.5rem 10%;
    background-color:  #12544F;
    gap: 0.8rem;
    position: sticky;   
    top: 0;
    z-index: 100;
}

header img {
    width: 40px;         
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

header i{
    font-size: 1.2rem;
    font-family: Impact;
    color: #000000;
    transition: color 0.3s;
}

nav{
    margin-left: auto;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

nav a {
    font-family: Impact;
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover{
    color: #8BBB92;
}

section {
  padding: 4rem 10%;
}

.hero {
    text-align: center;
    padding: 5rem 1rem;
    background: linear-gradient(0deg, #092328 0%, #12544F 100%);
    font-family: Impact;
}

.hero h1 {
    color:#2A835F;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero img {
    width: 120px;         
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.hero hr{
    width: 20rem;
    border: none;
    height: 2px;
    background-color:#2A835F;
    margin: 1rem auto;
}

.hero p{
    font-size: 1.1rem;
    color: #000000;
    margin-bottom: 2rem;
}

.portofolio {
    text-align: center;
    padding: 5rem 1rem;
    background:  linear-gradient(180deg, #092328 0%, #12544F 100%);;
    font-family: Impact;
}

.portofolio h2{
    color:#2A835F;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.portofolio h3{
    font-size: 1.5rem;
    font-style: italic;
    color:#8BBB92;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.portofolio table{
    margin: 0 auto;
    border-spacing: 1.5rem;
    border-collapse: separate;
}

.portofolio table td{
    padding: 1rem;
    vertical-align: top;
    text-align: center;
    width: 220px;
}

.portofolio-table-img{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.8rem;
}

.portofolio img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.portofolio strong{
    color: #000000;
    font-family: Impact;
    font-size: 1rem;
    text-align: center;
    display: block;
}

.about {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #12544F;
    font-family: Impact;
}

.about h2{
    text-align: center;
    color:#2A835F;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.about p{
    text-align: center;
    color:#000000;
    font-size: 1rem;
    margin-bottom: 1rem;
}

footer {
  text-align: center;
  padding: 2rem;
  background: linear-gradient(0deg, #092328 0%, #12544F 100%);
  color:#8BBB92;
  font-size: 0.9rem;
}

